@import url('./../vendors/css/normalize.css');
@import url('./../vendors/css/skeleton.css');
* {
  margin: 0;
  padding: 0;
}

/************************************************************************/

/**********************************LOGIN**********************************/

/************************************************************************/

/********************/

/*     CONTAINER    */

/********************/

.login-main-cont {
  background-image: url('./../../background_login/1.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.login-logo {
  width: 100%;
  border-radius: 80px;
}

.login-cont {
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 21% 0;
  border-radius: 100px;
}

input.login-input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #0092FF;
  width: 100%;
  background: none;
}

input.login-input:focus {
  border-width: 0 0 2px;
  border-color: #005a9e;
}

.btn-login {
  color: #fff;
  background: rgb(0, 125, 221);
  border-radius: 20px;
  width: 100%;
}

/************************************************************************/

/**********************************MAIN**********************************/

/************************************************************************/

/********************/

/*        MENU      */

/********************/

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
}

.sidebar.active {
  left: 0px;
}

.menu-list-item {
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3)
}

.menu-list-item a {
  color: rgba(230, 230, 230, 0.9);
  text-decoration: none;
}

.menu-list-item a:hover {
  text-decoration: underline;
}

.sidebar .toggle-btn {
  position: absolute;
  left: 220px;
  top: 20px;
}

.menu-toggle {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 3px 0px;
  border-radius: 5px;
}

/********************/

/*        TOP      */

/********************/

.main-top-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}